<!doctype html>
<html lang="en">
	<head>
		<title></title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	</head>
	<body>
		<div class="container">

			<h1 class="display-4 mt-5" data-toggle="tooltip" data-placement="top" title="Users who only have the '@everyone' rank after subtracting active users">Users to be cleansed</h1>

			<button class="btn btn-danger my-5" type="button" data-toggle="tooltip" data-placement="top" title="(Not implemented yet)">Kick the following users</button>

			<table class="table">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Name</th>
						<th scope="col">Nickname</th>
						<th scope="col">Joined</th>
						<th scope="col">Mention</th>
						<th scope="col">Account age</th>
					</tr>
				</thead>
				<tbody>
					{% for user in users %}
					<tr>
						<th scope="row">{{loop.index}}</th>
						<td>{{user["name"]}}</td>
						<td>{{user["nick"]}}</td>
						<td>{{user["joined"]}}</td>
						<td>{{user["mention"]}}</td>
						<td>{{user["age"]}}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>

		</div>

		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
	</body>
</html>